hdl/ip_cores/ddr3-sp6-core/
hdl/ip_cores/general-cores/
hdl/ip_cores/gn4124-core/
hdl/spec/sim/modelsim.ini
hdl/spec/sim/work/
hdl/spec/syn/_ngo/
hdl/spec/syn/_xmsgs/
hdl/spec/syn/par_usage_statistics.html
hdl/spec/syn/run.tcl
hdl/spec/syn/*.gise
hdl/spec/syn/*.bgn
hdl/spec/syn/*.bld
hdl/spec/syn/*.cmd_log
hdl/spec/syn/*.drc
hdl/spec/syn/*.lso
hdl/spec/syn/*.ncd
hdl/spec/syn/*.ngc
hdl/spec/syn/*.ngd
hdl/spec/syn/*.ngr
hdl/spec/syn/*.pad
hdl/spec/syn/*.pcf
hdl/spec/syn/*.prj
hdl/spec/syn/*.ptwx
hdl/spec/syn/*.stx
hdl/spec/syn/*.twx
hdl/spec/syn/*.unroutes
hdl/spec/syn/*.ut
hdl/spec/syn/*.xpi
hdl/spec/syn/*.xst
hdl/spec/syn/*_bitgen.xwbt
hdl/spec/syn/*_guide.ncd
hdl/spec/syn/*_map.map
hdl/spec/syn/*_map.ncd
hdl/spec/syn/*_map.ngm
hdl/spec/syn/*_map.xrpt
hdl/spec/syn/*_ngdbuild.xrpt
hdl/spec/syn/*_pad.csv
hdl/spec/syn/*_pad.txt
hdl/spec/syn/*_par.xrpt
hdl/spec/syn/*_summary.xml
hdl/spec/syn/*_usage.xml
hdl/spec/syn/*_xst.xrpt
hdl/spec/syn/webtalk.log
hdl/spec/syn/webtalk_pn.xml
hdl/spec/syn/xlnx_auto_0_xdb/
hdl/spec/syn/xst/