hdl/ip_cores/ddr3-sp6-core/
hdl/ip_cores/general-cores/
hdl/ip_cores/gn4124-core/
hdl/ip_cores/vme64x-core/
hdl/ip_cores/wr-cores/
hdl/ip_cores/.lso
hdl/ip_cores/_xmsgs
hdl/*/sim/modelsim.ini
hdl/*/sim/work/
hdl/*/sim/fifo_generator_v6_1/
hdl/*/syn/_ngo/
hdl/*/syn/_xmsgs/
hdl/*/syn/par_usage_statistics.html
hdl/*/syn/run.tcl
hdl/*/syn/*.gise
hdl/*/syn/*.bgn
hdl/*/syn/*.bin
hdl/*/syn/*.bit
hdl/*/syn/*.bld
hdl/*/syn/*.cmd_log
hdl/*/syn/*.drc
hdl/*/syn/*.lso
hdl/*/syn/*.ncd
hdl/*/syn/*.ngc
hdl/*/syn/*.ngd
hdl/*/syn/*.ngr
hdl/*/syn/*.pad
hdl/*/syn/*.pcf
hdl/*/syn/*.prj
hdl/*/syn/*.ptwx
hdl/*/syn/*.stx
hdl/*/syn/*.twx
hdl/*/syn/*.unroutes
hdl/*/syn/*.ut
hdl/*/syn/*.xpi
hdl/*/syn/*.xst
hdl/*/syn/*_bitgen.xwbt
hdl/*/syn/*_guide.ncd
hdl/*/syn/*_map.map
hdl/*/syn/*_map.ncd
hdl/*/syn/*_map.ngm
hdl/*/syn/*_map.xrpt
hdl/*/syn/*_ngdbuild.xrpt
hdl/*/syn/*_pad.csv
hdl/*/syn/*_pad.txt
hdl/*/syn/*_par.xrpt
hdl/*/syn/*_summary.xml
hdl/*/syn/*_usage.xml
hdl/*/syn/*_xst.xrpt
hdl/*/syn/webtalk.log
hdl/*/syn/webtalk_pn.xml
hdl/*/syn/xlnx_auto_0_xdb/
hdl/*/syn/xst/
hdl/*/syn/iseconfig/
hdl/*/syn/*_envsettings.html
hdl/*/syn/*_fpga_editor.log
hdl/*/syn/*_summary.html
hdl/*/release/
hdl/*/chipscope/*.vcd
hdl/*/chipscope/*.wlf
hdl/svec/sim/testbench/fifo_generator_v6_1/
hdl/svec/sim/testbench/modelsim.ini
hdl/svec/sim/testbench/simdrv_defs.svh
hdl/svec/sim/testbench/transcript
hdl/svec/sim/testbench/vsim.wlf
hdl/svec/sim/testbench/vsim_stacktrace.vstf
hdl/svec/sim/testbench/work/
documentation/manuals/*/*.html
*.texi
*.aux
*.log
*.toc
